.register {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.register .img-cover img {
    margin: 0;
    height: 99.5vh;
    width: 70vw;
    filter: brightness(70%);
    margin-right: 55px;
}

.register .form {
    width: 370px;
}

.register .form .logo {
    width: 100px;
    height: 34px;
    background-color: #CFD4ED;
}

.register .form .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.register .form .email {
    margin: 32px 0 16px;
}

.register .form input {
    width: 100%;
    height: 38.25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 8.93px;
}

.register .form .btn-login {
    margin-top: 32px;
    width: 100%;
    height: 36px;
    background-color: #0D28A6;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.register .form .link-login {
    text-decoration: none;
    color: #0D28A6;
}

.register .form .btn-oauth {
    width: 100%;
    height: 36px;
    background-color: #FFFFFF;
    border: 1px solid #0D28A6;
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.register .form .btn-oauth img {
    width: 36px;
    height: 36px;
}