.card-detail {
    width: 305px;
    height: 435px;
    padding: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.card-detail p {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

.card-detail .card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-detail .card .image {
    width: 100%;
    height: 216px;
}

.card-detail .card .image .img {
    width: 100%;
    height: auto;
    display: block;
}

.card-detail .card .content {
    width: 100%;
    margin: 0;
}

.card-detail .card .content .content-info {
    display: flex;
    flex-direction: row;
}

.card-detail .card .content .content-info .info {
    display: flex;
    flex-direction: row;
    margin-right: 16px;
}

.card-detail .card .content .content-info .info .icon {
    margin-right: 4px;
}

.card-detail .card .content .fee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-detail .card .content .name,
.card-detail .card .content .fee .price {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.card-detail .card .btn-pick {
    width: 100%;
    height: 46px;
    border: none;
    background-color: #5CB85F;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}